%strong Field details:
%div
  =label_tag :field, "Field name:"
  =text_field_tag :field
  =label_tag :type, "Field type:"
  =text_field_tag :type
  =label_tag :null, "Null:"
  =text_field_tag :null
  =label_tag :key, "Key:"
  =text_field_tag :key
  =label_tag :default, "Default:"
  =text_field_tag :default
  =label_tag :extra, "Extra:"
  =text_field_tag :extra