%tr
  - i = 1
  - describe.each do |key, value|
    -if(i == 1)then
      -@val = value
    -i += 1
    %td
      =value
  %td
    =link_to(image_tag('stock-eye-20.png'), database_table_column_path(id: "#{@val}"), remote: true, title: "Show attributes of the column")
    =link_to(image_tag('stock-edit-16.png'), edit_database_table_column_path(id: "#{@val}"), remote: true, title: "Edit column")
    =link_to(image_tag('delete.png'), database_table_column_path(id: "#{@val}"), method: :delete, data:{confirm: "Are you sure to delete column: " + "#{@val}" + "?"}, remote: true, title: "Delete column")
