%h3 Columns in table: [#{params[:table_id]}] in database: [#{params[:database_id]}]
%table
  %thead
    %tr
      %th Field
      %th Type
      %th Null
      %th Key
      %th Default
      %th Extra
      %th Actions:
  %tbody
    = render partial: 'shared/describe', collection: @describe
    %tr
      %td
        =link_to(image_tag('add.png'), new_database_table_column_path, remote: true)
        =link_to "Add column", new_database_table_column_path, remote: true
      %td
      %td
      %td
      %td
      %td
      %td
  
  