%strong Colummn details:
%div
  =label_tag :column_name, "Field name:"
  =text_field_tag :column_name
  =label_tag :type, "Field type:"
  =text_field_tag :type
  =label_tag :field_null, "Null:"
  =text_field_tag :field_null
  =label_tag :field_key, "Key:"
  =text_field_tag :field_key
  =label_tag :field_default, "Default:"
  =text_field_tag :field_default
  =label_tag :field_extra, "Extra:"
  =text_field_tag :field_extra