%h3 New table in: #{params[:database_id]} database.
%fieldset
  %legend Add new table
  =form_tag(database_tables_path) do
    .field
      = label_tag :name, "Table name:"
      = text_field_tag :name
    %br
      =render(partial: 'shared/column_form')
    .submit
      = submit_tag("Create new table!")